* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(29, 118, 129);
}

html {
    font-size: 62.5%;
}

#nav-bar{
    border: 0px;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    background: rgba(117, 201, 101, 0.651);
    gap: 2rem;
}

.btn{
    font-size: 2rem;
    background: rgb(24, 66, 40);
    width: 10rem;
    height: 4rem;
    color: rgb(175, 204, 202);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 2rem;
    cursor: pointer; 
}
 p{ 
    color: rgb(193, 208, 214); 
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    padding-left: 58rem;
    padding-top: 2rem;
} 

.main-body{
    gap: 4rem;
}

.container{
    display: flex;
}